<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en"><head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="description" content="Smyg in till Barnkanalens Hemliga klubben och spela med Tant Lyckra!
  Hemma hos henne finns det en massa saker att göra, baka, leta och jaga kakor. Men glöm inte bort lösenordet!">
  <link rel="stylesheet" href="style.css" type="text/css" media="screen" title="no title" charset="utf-8">
  
  <title>Spela Hemliga klubben på svt.se/barnkanalen</title>
  <script src="jquery.js" type="text/javascript"></script>
  
  <script type="text/javascript">
      var width = 1060;
      var height = 740;
  </script>
  
  </head>
  
  <body>
  <div id="content">
      <div id="flashbackground" class="flashWidth" style="width: 1060px;">
          <object type="application/x-shockwave-flash" id="SpelId" data="main.swf" width="1060" height="740">
              <param name="quality" value="high">
              <param name="scale" value="noscale">
              <param name="wmode" value="window">
              <param name="allowscriptaccess" value="always">
              <param name="allowfullscreen" value="true">
              <param name="bgcolor" value="#000000">
              <param name="flashvars" value="siteXML=xml/site.xml">
          </object>
      </div> <!-- flashbackground end -->
  </div> <!-- content end -->
  
  <script src="script.js" type="text/javascript"></script>
  
  
  
  </body></html>